.name {
  font-weight: 500;
}

.post_title_link {
  --tw-text-opacity: 1;
  color: rgba(255,255,255, var(--tw-text-opacity)) !important;
  text-decoration: none;
  word-wrap: break-word;
}

.post_title_link:hover {
  --tw-text-opacity: 1 !important;
  color: rgba(60, 123, 240, var(--tw-text-opacity)) !important;
}
